.footer {
  position: absolute;
  bottom: 0;
  left: 3rem;
  padding: 5px;
  background: $charbon;
  border-radius: $borderRadius;
  display: flex;
  width: fit-content;
  @include verticalCenter;
}
.footer .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $orange;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  color: $opal;
}
.footer a:hover {
  opacity: 1;
  color: $orange;
}
.footer a {
  text-decoration: none;
  opacity: 0.8;
  color: $opal;
}
.footer .signature p {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: $opal;
}
.footer .login a {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid $orange;
  border-radius: $borderRadius;
  padding-right: 5px;
}
