body {
  display: flex;
  justify-content: center;
}
.titre_second {
  text-align: center;
  font-family: $font-4;
  color: transparent;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif)
    center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  @media screen and (max-width: 520px) {
    font-size: 2rem;
  }
}
.contenu-auth {
  margin-top: 4rem;
  width: 800px;
  padding: 20px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: $opal;
    :hover {
      color: $orange;
    }
  }
  span:hover {
    color: $orange;
  }

  label {
    color: $opal;
  }
}
#emailuser {
  color: $opal;
  padding: 10px;
  text-align: center;
  align-items: center;
  .background {
    background: $charbon;
    border-radius: $borderRadius;
  }
}
.connect-button {
  background: none;
  color: $orange;
  padding: 10px;
  font-size: 30px;
  border-radius: $borderRadius;
  margin-top: 20px;
  margin-bottom: 20px;
  :hover {
    color: $opal;
  }
}
#cancel {
  display: flex;
  justify-content: center;
  color: $opal;
  box-shadow: $shadow;
  border-radius: $borderRadius;
  :hover {
    color: $orange;
  }
}
