.selector {
  margin-left: 20rem;
  width: 75%;

  .scrollup {
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    fill: $orange;
    border-radius: 50%;
    box-shadow: $shadow;
    .icon {
      width: 40px;
      height: 40px;
      color: $orange;
      animation: scrollTop 05s alternate ease infinite;
    }
    @keyframes scrollTop {
      from {
        transform: translateY(2px);
      }
      to {
        transform: translateY(-1px);
      }
    }
  }
  .selection {
    background: $charbon;
    font-family: $font-2;
    color: $orange;
    text-align: center;
    justify-content: center;
    border-radius: $borderRadius;
    width: 100%;
    display: none;
  }
  .radioDisplay {
    width: 99%;

    .categorie {
      background: $charbon;
      border-radius: $borderRadius;
      display: flex;
      font-family: $font-2;
      font-weight: 600;
      justify-content: center;

      color: $orange;
      li {
        color: $opal;
        text-transform: uppercase;
        margin-right: 5px;
        z-index: 2;
        font-size: 1rem;
        @include verticalCenter;

        input[type="radio"] {
          visibility: hidden;
          position: relative;
          &:before {
            content: "";
            visibility: visible;
            position: absolute;
            top: -4px;
            left: -12px;
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            border: 2px solid $orange;
            cursor: pointer;
            transition: 0.3s;
          }
          &:after {
            content: "";
            visibility: visible;
            position: absolute;
            top: -4px;
            left: -12px;
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;
            background: $orange;
            transform: scale(0);
            transform-origin: center;
          }
        }
        input:checked:after {
          transform: scale(1.17) translate(-25%, -25%);
          top: 2px;
          left: -6px;
        }
        input:checked + label {
          color: $orange;
        }
        label {
          cursor: pointer;
        }
      }
    }
  }
}

.container-slider {
  overflow-y: auto;
  margin-top: 4rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  margin-bottom: 10px;
  .text {
    width: fit-content;
    font-family: $font-2;
    display: flex;
    justify-content: center;
    position: relative;
    background: $charbon;
    border-radius: $borderRadius;
    color: $orange;
    font-size: 2rem;
    top: -50px;
    filter: opacity(80%);
    p {
      margin-bottom: 0;
    }
  }
}
img {
  box-shadow: $shadow;
  border: 3px solid $onyx;
  border-radius: $borderRadius;
  width: 99%;
  height: 99%;
  border-radius: $borderRadius;
}
@media screen and(max-width:1250px) {
  .categorie {
    li {
      font-size: 0.8rem !important;
    }
  }
}
@media screen and(max-width:1100px) {
  .radioDisplay input {
    display: none;
  }
  .selector {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and(max-width:650px) {
  .radioDisplay {
    display: none;
  }
  .selection {
    display: flex !important;
  }
  .categorie {
    display: block !important;
    width: 100%;
  }
  .content {
    margin-top: 4rem;
  }
}
