.selector button {
  z-index: 5;
  width: 35px;
  height: 30px;
  background: $charbon;
  :hover {
    background: $onyx;
  }
}
.scrollup:hover {
  fill: $orange;
}

.radioDisplay {
  font-family: $font-2;
  z-index: 1;
  border-radius: $borderRadius;
  display: flex;
  width: 75%;
  padding: 1rem 2rem;
  margin: 0 auto;
  background: $charbon;
  user-select: none;
  box-shadow: $shadow;
  position: fixed;
  top: 0;

  li {
    color: $opal;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    flex: 1;
    z-index: 2;
    @include verticalCenter;

    input[type="radio"] {
      visibility: hidden;
      position: relative;

      &:before {
        content: "";
        visibility: visible;
        position: absolute;
        top: -4px;
        left: -12px;
        height: 0.9rem;
        width: 0.9rem;
        border-radius: 50%;
        border: 2px solid $opal;
        cursor: pointer;
        transition: 0.3s;
      }
      &:after {
        content: "";
        visibility: visible;
        position: absolute;
        top: -4px;
        left: -12px;
        height: 0.9rem;
        width: 0.9rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        background: $orange;
        transform: scale(0);
        transform-origin: center;
      }
    }
    input:checked:after {
      transform: scale(1.1) translate(-25%, -25%);
      top: 2px;
      left: -6px;
    }
    input:checked + label {
      color: $orange;
    }
    label {
      cursor: pointer;
    }
  }
}
.container-slider {
  z-index: -1;
  width: 1000px;
  max-width: 100%;
  height: 100%;
  margin: 4rem auto 0;
  position: relative;
}

.slide {
  margin-bottom: 10px;
  .text {
    font-family: $font-2;
    display: flex;
    justify-content: center;
    position: relative;
    background: $charbon;
    border-radius: $borderRadius;
    color: $orange;
    font-size: 2rem;
    top: -60px;
    filter: opacity(80%);
  }
}
img {
  box-shadow: $shadow;
  border: 3px solid $onyx;
  border-radius: $borderRadius;
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
}
@media screen and(max-width:1100px) {
  .radioDisplay {
    width: 100%;
  }
}
@media screen and(max-width:1100px) {
}
