label {
  border-radius: $borderRadius;
  padding: 10px;
}

#not-mail {
  display: none;
  text-align: center;
  background: $onyx;
  color: $orange;
  transform-origin: 50% 50%;
  font-family: $font-2;
  margin-bottom: 20px;
}

@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.contact-content {
  @include verticalCenter;
  flex-direction: column;
  margin-left: 10rem;
  width: 100%;
  color: $orange;
  input {
    width: 80%;
    border-radius: 10px;

    text-align: center;
    margin-bottom: 1rem;
    background: $opal;
    padding: 15px;
  }
  textarea {
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    background: $opal;
    text-align: center;
  }
  #connexion-submit {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #email {
    width: 80%;
    display: inline;
  }
  .button {
    margin-top: 0.5rem;
    background: $onyx;
    border-radius: $borderRadius;
    color: $orange;
    vertical-align: middle;
  }
  .contenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
    @include styleBox;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
  }
  .connect-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: $orange;
    padding: 10px;
    border-radius: $borderRadius;
    box-shadow: $shadow;
    margin-top: 20px;
  }
  .connect-button:hover {
    color: $opal;
    background-color: rgba(0, 0, 0, 1);
  }
}
#email:focus,
#name:focus,
#phone:focus,
#company:focus,
#message:focus {
  background: rgba(0, 0, 0, 0.8);
}

.adress,
.phone {
  border-radius: $borderRadius;
  padding: 10px;
  margin-top: 20px;
  font-family: $font-2;
  background: $charbon;
  color: $orange;
}

.phone:hover {
  span:hover {
    color: $opal;
  }
}
#comms {
  font-family: $font-2;
  margin: 10px;
  background: $charbon;
  color: $orange;
  border-radius: $borderRadius;
  padding: 20px;
}
.form-message {
  border-radius: $borderRadius;
  padding: 10px;
  color: $onyx;
  font-family: font-2;
}

@media screen and (max-width: 1100px) {
  .contact-content {
    margin-left: 0;
  }
}
