.home {
  width: 100%;
  @include verticalCenter;
  height: 100vh;
}
.title {
  text-align: center;
  font-family: $font-4;
  color: transparent;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 2;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/lntLuFt5WG3tvtqK7B/giphy.gif)
    center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media screen and(max-width:800px) {
  .title {
    font-size: 5rem;
    letter-spacing: 0.6rem;
  }
}

@media screen and(max-width:640px) {
  .title {
    font-size: 4rem;
  }
}
@media screen and(max-width:460px) {
  .title {
    font-size: 3rem;
    letter-spacing: 0.4;
  }
}
