.home {
  width: 100%;
  @include verticalCenter;
  height: 90vh;
}
.homeContent {
  @include placeBox;
}

@media screen and (max-width: 1100px) {
  .homeContent {
    margin-left: 0;
  }
}

@media screen and(max-width:800px) {
  .title {
    font-size: 5rem;
    letter-spacing: 0.6rem;
  }
}

@media screen and(max-width:640px) {
  .title {
    font-size: 4rem;
  }
}
@media screen and(max-width:460px) {
  .title {
    font-size: 3rem;
    letter-spacing: 0.4;
  }
}
