.presta-content {
  @include verticalCenter;
  flex-direction: column;
  height: 150vh;
  width: 100%;
  color: $orange;
}
.titre {
  text-align: center;
  color: transparent;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif)
    center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.contenu {
  overflow-y: scroll;
  box-shadow: $shadow2;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  color: $opal;

  .presta {
    font-family: $font-2;
    background: $charbon;
    text-align: center;
    border-radius: $borderRadius;
    padding: 5px 5px;
    color: $orange;
  }
  .description {
    background: $onyx;
    font-family: $font-2;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
    border-radius: $borderRadius;
  }
}
@media screen and(max-width:1100px) {
  .titre {
    font-size: 4rem;
  }
  .description {
    margin: 5px 5px 5px 5px !important;
  }
}

@media screen and(max-width:900px) {
  .contenu {
    width: 100% !important;
  }
}
@media screen and(max-width:500px) {
  .titre {
    font-size: 3rem;
  }
}
