@import url("https://fonts.googleapis.com/css2?family=Allison&family=Architects+Daughter&family=Dancing+Script&family=Ma+Shan+Zheng&display=swap");

$font-2: "Architects Daughter", cursive;

$orange: #d16f2e;
$charbon: #424651;
$opal: #c5decd;
$red: #960200;
$onyx: #32373b;

$borderRadius: 40px;
$shadow: 0 2px 6px $charbon;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin styleBox {
  border-radius: $borderRadius;
  box-shadow: $shadow;
}

@mixin placeBox {
  margin-left: 20rem;
}
body {
  font-family: $font-2;
  background: url("../media/camera.jpg");
  background-size: 100%;
}

button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hamburger {
  display: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.responsive {
  z-index: 4;
  background: $charbon;
  color: $orange;
  width: 3rem;
  height: 3rem;
  border-radius: $borderRadius;
  font-size: 1.5rem;
  position: fixed;
  top: 0.5rem;
  left: 0;
  display: none;
}
button.modal-toggle {
  background-color: $charbon;
  color: $orange;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
}
.titre_second {
  text-align: center;
  font-family: $font-2;
  color: transparent;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif)
    center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  margin-block-start: 0;
}
@media screen and(max-width:1100px) {
  .responsive {
    display: block;
  }
  body {
    margin-left: 0 !important;
  }
  .default {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
