@import url("https://fonts.googleapis.com/css2?family=Allison&family=Architects+Daughter&family=Dancing+Script&family=Ma+Shan+Zheng&display=swap");
$font-1: "Allison", cursive;
$font-2: "Architects Daughter", cursive;
$font-3: "Dancing Script", cursive;
$font-4: "Ma Shan Zheng", cursive;

$orange: #d16f2e;
$charbon: #424651;
$opal: #c5decd;
$red: #960200;
$onyx: #32373b;

$borderRadius: 40px;
$shadow: 0 2px 6px $charbon;
$shadow2: 0 5px 5px $onyx;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-2;
  background: url("../media/camera.jpg");
  background-size: 100%;
}

button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $onyx;
  cursor: pointer;
}
a:visited {
  color: $orange;
}
.hamburger {
  display: none;
}
.responsive {
  z-index: 2;
  background: $charbon;
  color: $orange;
  width: 3rem;
  height: 3rem;
  border-radius: $borderRadius;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
button.modal-toggle {
  background-color: $charbon;
  color: $orange;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
}

@media screen and(max-width:1100px) {
  .responsive {
    display: block;
  }
  body {
    margin-left: 0 !important;
  }
  .default {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
