@import url("https://fonts.googleapis.com/css2?family=Allison&family=Architects+Daughter&family=Dancing+Script&family=Ma+Shan+Zheng&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 20rem;
  font-family: "Architects Daughter", cursive;
  background: url("../media/camera.jpg");
  background-size: 100%;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #32373b;
  cursor: pointer;
}

a:visited {
  color: #d16f2e;
}

.hamburger {
  display: none;
}

.responsive {
  z-index: 2;
  background: #424651;
  color: #d16f2e;
  width: 3rem;
  height: 3rem;
  border-radius: 40px;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

button.modal-toggle {
  background-color: #424651;
  color: #d16f2e;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
}

@media screen and (max-width: 1100px) {
  .responsive {
    display: block;
  }
  body {
    margin-left: 0 !important;
  }
  .default {
    display: none;
  }
}

.home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 5rem;
    letter-spacing: 0.6rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 3rem;
    letter-spacing: 0.4;
  }
}

.navbar {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  border-radius: 40px;
  width: 350px;
  z-index: 1;
  margin-left: 2rem;
  position: fixed;
  left: 0;
  top: -4rem;
}

.navbar ul {
  width: 1px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.navbar ul:hover li:not(:hover) {
  opacity: 0.5;
}

.navbar li {
  -webkit-transform: rotateY(30deg) scaleX(1.3);
          transform: rotateY(30deg) scaleX(1.3);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.navbar li:hover {
  -webkit-transform: rotateY(3deg);
          transform: rotateY(3deg);
}

.navbar li a {
  font-size: 7rem;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border-radius: 40px;
  line-height: 1.5;
  opacity: 0.6;
  padding: 0 20px;
  color: #d16f2e;
}

.navbar li a.active,
.navbar li a:hover,
.navbar li p:active,
.navbar li p:hover {
  opacity: 1;
  color: #c5decd;
}

.navbar .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

.navbar .social a {
  margin-right: 1rem;
}

.navbar .social a:hover {
  color: #c5decd;
}

.hamburger .navbar {
  overflow-y: scroll;
  background: #32373b;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
}

.hamburger .navbar ul {
  width: 100%;
  -webkit-perspective: inherit;
          perspective: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger .navbar li {
  -webkit-transform: inherit;
          transform: inherit;
}

.hamburger .navbar li a {
  text-align: center;
  font-size: 1.5rem !important;
  margin: 0;
  padding: 10px;
}

.hamburger .navbar .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  margin: 10px;
  font-family: "Architects Daughter", cursive;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  -webkit-box-shadow: 0 5px 5px #32373b;
          box-shadow: 0 5px 5px #32373b;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social a {
  font-size: 20px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d16f2e;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  color: #c5decd;
}

.footer a:hover {
  opacity: 1;
  color: #d16f2e;
}

.footer a {
  text-decoration: none;
  opacity: 0.8;
  color: #c5decd;
}

.footer .signature {
  margin-right: 10px;
}

.footer .signature p {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: #c5decd;
  font-size: 15px;
}

.footer .login a,
.footer .signup a {
  margin-right: 5px;
  border: 1px solid #d16f2e;
  border-radius: 40px;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer {
    position: fixed;
    width: 100%;
  }
}

.selector {
  width: 99%;
}

.selector .scrollup {
  z-index: 5;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  fill: #d16f2e;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
}

.selector .scrollup .icon {
  width: 40px;
  height: 40px;
  color: #d16f2e;
  -webkit-animation: scrollTop 05s alternate ease infinite;
          animation: scrollTop 05s alternate ease infinite;
}

@-webkit-keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.selector .selection {
  background: #424651;
  font-family: "Architects Daughter", cursive;
  color: #d16f2e;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  width: 100%;
  display: none;
}

.selector .radioDisplay {
  width: 99%;
}

.selector .radioDisplay .categorie {
  background: #424651;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d16f2e;
}

.selector .radioDisplay .categorie li {
  color: #c5decd;
  text-transform: uppercase;
  margin-right: 5px;
  z-index: 2;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selector .radioDisplay .categorie li input[type="radio"] {
  visibility: hidden;
  position: relative;
}

.selector .radioDisplay .categorie li input[type="radio"]:before {
  content: "";
  visibility: visible;
  position: absolute;
  top: -4px;
  left: -12px;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  border: 2px solid #d16f2e;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.selector .radioDisplay .categorie li input[type="radio"]:after {
  content: "";
  visibility: visible;
  position: absolute;
  top: -4px;
  left: -12px;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #d16f2e;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.selector .radioDisplay .categorie li input:checked:after {
  -webkit-transform: scale(1.17) translate(-25%, -25%);
          transform: scale(1.17) translate(-25%, -25%);
  top: 2px;
  left: -6px;
}

.selector .radioDisplay .categorie li input:checked + label {
  color: #d16f2e;
}

.selector .radioDisplay .categorie li label {
  cursor: pointer;
}

.container-slider {
  overflow-y: auto;
  margin-top: 4rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  margin-bottom: 10px;
}

.slide .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Architects Daughter", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #424651;
  border-radius: 40px;
  color: #d16f2e;
  font-size: 2rem;
  top: -50px;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.slide .text p {
  margin-bottom: 0;
}

img {
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border: 3px solid #32373b;
  border-radius: 40px;
  width: 99%;
  height: 99%;
  border-radius: 40px;
}

@media screen and (max-width: 1250px) {
  .categorie li {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 1120px) {
  .radioDisplay input {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .radioDisplay {
    display: none;
  }
  .selection {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .categorie {
    display: block !important;
    width: 100%;
  }
  .content {
    margin-top: 4rem;
  }
}

.presta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  color: #d16f2e;
}

.titre {
  text-align: center;
  color: transparent;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.contenu {
  overflow-y: scroll;
  -webkit-box-shadow: 0 5px 5px #32373b;
          box-shadow: 0 5px 5px #32373b;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c5decd;
}

.contenu .presta {
  font-family: "Architects Daughter", cursive;
  background: #424651;
  text-align: center;
  border-radius: 40px;
  padding: 5px 5px;
  color: #d16f2e;
}

.contenu .description {
  background: #32373b;
  font-family: "Architects Daughter", cursive;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
  border-radius: 40px;
}

@media screen and (max-width: 1100px) {
  .titre {
    font-size: 4rem;
  }
  .description {
    margin: 5px 5px 5px 5px !important;
  }
}

@media screen and (max-width: 900px) {
  .contenu {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .presta-content {
    height: 150vh;
  }
  .titre {
    font-size: 3rem;
  }
}

label {
  border-radius: 40px;
  padding: 10px;
}

#not-mail {
  display: none;
  text-align: center;
  background: #32373b;
  color: #d16f2e;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-family: "Architects Daughter", cursive;
  margin-bottom: 20px;
}

@-webkit-keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  color: #d16f2e;
}

.contact-content input {
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: #c5decd;
  padding: 15px;
}

.contact-content textarea {
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  background: #c5decd;
  text-align: center;
}

.contact-content .button {
  margin-top: 0.5rem;
  background: #32373b;
  border-radius: 40px;
  color: #d16f2e;
  vertical-align: middle;
}

.contact-content .contenu {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  width: 50%;
}

.adress,
.phone {
  border-radius: 40px;
  padding: 10px;
  margin-top: 20px;
  font-family: "Architects Daughter", cursive;
  background: #424651;
  color: #d16f2e;
}

.phone:hover span:hover {
  color: #c5decd;
}

#comms {
  font-family: "Architects Daughter", cursive;
  margin: 10px;
  background: #424651;
  color: #d16f2e;
  border-radius: 40px;
  padding: 20px;
}

.form-message {
  border-radius: 40px;
  padding: 10px;
  color: #32373b;
  font-family: font-2;
}

.titre_modal {
  text-align: center;
  font-family: "Ma Shan Zheng", cursive;
  color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media screen and (max-width: 520px) {
  .titre_modal {
    font-size: 2rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  z-index: 100;
  border-radius: 40px;
  -webkit-box-shadow: 0 5px 5px #32373b;
          box-shadow: 0 5px 5px #32373b;
  background: transparent;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #c5decd;
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal-body {
  color: #d16f2e;
}

form {
  text-align: center;
  width: 100%;
}

#email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#password,
password-confirm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#email label {
  padding: 0;
  margin-right: 40px;
}

#email input {
  background: #c5decd;
  border-radius: 40px;
  width: 300px;
  height: 30px;
}

#password label,
#password-confirm label {
  padding: 0;
  margin-right: 60px;
}

#password input {
  background: #c5decd;
  border-radius: 40px;
  height: 30px;
  width: 300px;
}

#password-confirm input {
  width: 300px;
  background: #c5decd;
  border-radius: 40px;
  height: 30px;
}

.connect-button {
  background: #424651;
  color: #d16f2e;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  margin-top: 20px;
}

.forgot {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forgot a {
  color: #d16f2e;
  text-decoration: none;
}

#accueil-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titre_second {
  text-align: center;
  font-family: "Ma Shan Zheng", cursive;
  color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media screen and (max-width: 520px) {
  .titre_second {
    font-size: 2rem;
  }
}

.contenu-auth {
  margin-top: 4rem;
  width: 800px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenu-auth form {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenu-auth a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  color: #c5decd;
}

.contenu-auth a :hover {
  color: #d16f2e;
}

.contenu-auth span:hover {
  color: #d16f2e;
}

.contenu-auth label {
  color: #c5decd;
}

#emailuser {
  color: #c5decd;
  padding: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#emailuser .background {
  background: #424651;
  border-radius: 40px;
}

.connect-button {
  background: none;
  color: #d16f2e;
  padding: 10px;
  font-size: 30px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.connect-button :hover {
  color: #c5decd;
}

#cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c5decd;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border-radius: 40px;
}

#cancel :hover {
  color: #d16f2e;
}
/*# sourceMappingURL=styles.css.map */