@import url("https://fonts.googleapis.com/css2?family=Allison&family=Architects+Daughter&family=Dancing+Script&family=Ma+Shan+Zheng&display=swap");
body {
  font-family: "Architects Daughter", cursive;
  background: url("../media/camera.jpg");
  background-size: 100%;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.responsive {
  z-index: 2;
  background: #424651;
  color: #d16f2e;
  width: 3rem;
  height: 3rem;
  border-radius: 40px;
  font-size: 1.5rem;
  position: fixed;
  top: 0.5rem;
  left: 0;
  display: none;
}

button.modal-toggle {
  background-color: #424651;
  color: #d16f2e;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
}

.titre_second {
  text-align: center;
  font-family: "Architects Daughter", cursive;
  color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 0.8rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

@media screen and (max-width: 1100px) {
  .responsive {
    display: block;
  }
  body {
    margin-left: 0 !important;
  }
  .default {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

.home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.homeContent {
  margin-left: 20rem;
}

@media screen and (max-width: 1100px) {
  .homeContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 5rem;
    letter-spacing: 0.6rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 3rem;
    letter-spacing: 0.4;
  }
}

.navbar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Architects Daughter", cursive;
  font-weight: 800;
  border-radius: 40px;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: -1rem;
}

.navbar .overlay,
.navbar #overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul {
  width: 1px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.navbar ul:hover li:not(:hover) {
  opacity: 0.5;
}

.navbar li {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transform: rotateY(30deg) scaleX(1.3);
          transform: rotateY(30deg) scaleX(1.3);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.navbar li:hover {
  -webkit-transform: rotateY(3deg);
          transform: rotateY(3deg);
}

.navbar li a {
  font-size: 5rem;
  line-height: 1.6;
  opacity: 0.6;
  padding: 0 20px;
  color: #d16f2e;
}

.navbar li a.active,
.navbar li a:hover,
.navbar li p:active,
.navbar li p:hover {
  opacity: 1;
  color: #c5decd;
}

.navbar .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .social a {
  margin-right: 1rem;
}

.navbar .social a:hover {
  color: #c5decd;
}

.hamburger .navbar {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
}

.hamburger .navbar ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  width: 100%;
  -webkit-perspective: inherit;
          perspective: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger .navbar li {
  -webkit-transform: inherit;
          transform: inherit;
}

.hamburger .navbar li a {
  font-size: 1.5rem !important;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 0.5;
}

.hamburger .navbar .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1100px) {
  .hamburger .navbar {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .hamburger .navbar .overlay {
    background-color: rgba(0, 0, 0, 0);
  }
}

.footer {
  position: fixed;
  margin: 10px;
  font-family: "Architects Daughter", cursive;
  -webkit-transform: translate(20px);
          transform: translate(20px);
  bottom: 0;
  right: 0;
  padding: 5px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social a {
  font-size: 20px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d16f2e;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  color: #c5decd;
}

.footer a:hover {
  opacity: 1;
  color: #d16f2e;
}

.footer a {
  text-decoration: none;
  opacity: 0.8;
  color: #c5decd;
}

.footer .signature {
  margin-right: 10px;
}

.footer .signature p {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: #c5decd;
  font-size: 15px;
}

.footer .login a,
.footer .signup a {
  margin-right: 5px;
  border: 1px solid #d16f2e;
  border-radius: 40px;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer {
    width: 100%;
  }
}

.gallery-content {
  margin-left: 20rem;
}

.gallery-content .radioDisplay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.gallery-content .radioDisplay .categorie {
  background: #424651;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d16f2e;
}

.gallery-content .radioDisplay .categorie li {
  color: #c5decd;
  text-transform: uppercase;
  margin-right: 5px;
  z-index: 2;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-content .radioDisplay .categorie li input[type="radio"] {
  visibility: hidden;
  position: relative;
}

.gallery-content .radioDisplay .categorie li input[type="radio"]:before {
  content: "";
  visibility: visible;
  position: absolute;
  top: -4px;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  border: 2px solid #d16f2e;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery-content .radioDisplay .categorie li input[type="radio"]:after {
  content: "";
  visibility: visible;
  position: absolute;
  top: -4px;
  left: -12px;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #d16f2e;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.gallery-content .radioDisplay .categorie li input:checked:after {
  -webkit-transform: scale(1.17) translate(-25%, -25%);
          transform: scale(1.17) translate(-25%, -25%);
  top: 2px;
  left: 7px;
}

.gallery-content .radioDisplay .categorie li input:checked + label {
  color: #d16f2e;
}

.gallery-content .radioDisplay .categorie li label {
  cursor: pointer;
}

.gallery-content .selection {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 3rem;
  right: 0;
  font-family: "Architects Daughter", cursive;
  color: #d16f2e;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  width: 100%;
  display: none;
}

.selector {
  width: 100%;
}

.selector .scrollup {
  z-index: 5;
  position: fixed;
  bottom: 40px;
  right: 50%;
  -webkit-transform: translate(20px);
          transform: translate(20px);
  width: 40px;
  height: 40px;
  fill: #d16f2e;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background-color: rgba(0, 0, 0, 0.8);
}

.selector .scrollup .icon {
  width: 40px;
  height: 40px;
  color: #d16f2e;
  -webkit-animation: scrollTop 05s alternate ease infinite;
          animation: scrollTop 05s alternate ease infinite;
}

@-webkit-keyframes scrollTop {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes scrollTop {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.container-slider {
  overflow-y: auto;
  margin-top: 4rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  margin-bottom: 10px;
}

.slide .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Architects Daughter", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #424651;
  border-radius: 40px;
  color: #d16f2e;
  font-size: 2rem;
  top: -50px;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.slide .text p {
  margin-bottom: 0;
}

.slide img {
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border: 3px solid #32373b;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

@media screen and (max-width: 1350px) {
  .navbar {
    top: 2rem;
  }
  .navbar li a {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1250px) {
  .categorie li {
    font-size: 0.8rem !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  .gallery-content {
    margin-left: 0;
  }
  .radioDisplay input {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .radioDisplay {
    display: none;
  }
  .selection {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .radioDisplayH {
    position: fixed !important;
    top: 6rem !important;
  }
  .categorie {
    display: block !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  .categorie li {
    margin-right: auto !important;
  }
  .content {
    margin-top: 4rem;
  }
}

.presta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10rem;
  width: 100%;
  color: #d16f2e;
}

.presta-content input {
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: #c5decd;
  padding: 15px;
}

.titre {
  text-align: center;
  color: transparent;
  font-size: 5rem;
  background: url(https://media.giphy.com/media/fnJWA6rIGgYmlksSEN/giphy.gif) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  margin: 0;
}

.contenu {
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c5decd;
}

.contenu .presta {
  font-family: "Architects Daughter", cursive;
  background: #424651;
  text-align: center;
  border-radius: 40px;
  color: #d16f2e;
}

.contenu .description {
  background: #32373b;
  font-family: "Architects Daughter", cursive;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
  border-radius: 40px;
}

@media screen and (max-width: 1100px) {
  .presta-content {
    margin-left: 0;
  }
  .titre {
    font-size: 4rem;
  }
  .description {
    margin: 5px 5px 5px 5px !important;
  }
}

@media screen and (max-width: 900px) {
  .contenu {
    width: 100% !important;
  }
  .presta-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .presta-content {
    height: 150vh;
  }
  .titre {
    font-size: 3rem;
  }
}

@media screen and (max-width: 380px) {
  .titre {
    font-size: 2rem;
    letter-spacing: 0.2 !important;
  }
}

label {
  border-radius: 40px;
  padding: 10px;
}

#not-mail {
  display: none;
  text-align: center;
  background: #32373b;
  color: #d16f2e;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-family: "Architects Daughter", cursive;
  margin-bottom: 20px;
}

@-webkit-keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10rem;
  width: 100%;
  color: #d16f2e;
}

.contact-content input {
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: #c5decd;
  padding: 15px;
}

.contact-content textarea {
  padding: 10px;
  width: 85%;
  border-radius: 10px;
  background: #c5decd;
  text-align: center;
}

.contact-content #email {
  width: 80%;
  display: inline;
}

.contact-content .button {
  margin-top: 0.5rem;
  background: #32373b;
  border-radius: 40px;
  color: #d16f2e;
  vertical-align: middle;
}

.contact-content .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
}

.contact-content .connect-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d16f2e;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  margin-top: 20px;
}

.contact-content .connect-button:hover {
  color: #c5decd;
  background-color: black;
}

#email:focus,
#name:focus,
#phone:focus,
#company:focus,
#message:focus {
  background: rgba(0, 0, 0, 0.8);
}

.adress,
.phone {
  border-radius: 40px;
  padding: 10px;
  margin-top: 20px;
  font-family: "Architects Daughter", cursive;
  background: #424651;
  color: #d16f2e;
}

.phone:hover span:hover {
  color: #c5decd;
}

#comms {
  font-family: "Architects Daughter", cursive;
  margin: 10px;
  background: #424651;
  color: #d16f2e;
  border-radius: 40px;
  padding: 20px;
}

.form-message {
  border-radius: 40px;
  padding: 10px;
  color: #32373b;
  font-family: font-2;
}

@media screen and (max-width: 1100px) {
  .contact-content {
    margin-left: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  z-index: 100;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background: transparent;
  position: relative;
  margin: auto;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #d16f2e;
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal-body {
  color: #d16f2e;
  text-align: center;
}

.modal-body .connect-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d16f2e;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  margin-top: 20px;
}

.modal-body .connect-button:hover {
  color: #c5decd;
  background-color: black;
}

.forgot-content {
  width: 100%;
  height: 100vh;
}

.forgot {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forgot a {
  color: #d16f2e;
  text-decoration: none;
}

#accueil-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1100px) {
  .titre_second {
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 860px) {
  .titre_second {
    font-size: 3rem;
  }
  #email input,
  #password input,
  #password-confirm input {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .titre_second,
  .titre_modal {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #email input {
    width: 200px;
  }
  #email,
  #password,
  #password-confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenu-auth {
  width: 100vh;
  height: 100vh;
  margin-left: 25rem;
  padding: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  text-align: center;
}

.contenu-auth form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenu-auth a {
  color: #c5decd;
}

.contenu-auth a :hover {
  color: #d16f2e;
}

.contenu-auth span:hover {
  color: #d16f2e;
}

.contenu-auth label {
  color: #c5decd;
}

.toolbar {
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c5decd;
  padding: 10px;
}

.toolbar .emailuser {
  text-align: center;
  color: #d16f2e;
}

.toolbar .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toolbar .bar .connect-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d16f2e;
  padding: 10px;
  font-size: 15px;
  border-radius: 40px;
  margin-right: 20px;
}

.toolbar .bar .connect-button:hover {
  color: #c5decd;
  background-color: black;
}

.create .createtitle {
  text-align: center;
  color: #d16f2e;
}

.create .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create #name,
.create #dropdown {
  background: #c5decd;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
}

.create .add {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  color: #d16f2e;
  padding: 10px;
}

.create #name:focus,
.create #dropdown:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.create #name:hover,
.create #dropdown:hover,
.create .add:hover {
  border-color: #d16f2e;
}

.create .upload::-webkit-file-upload-button {
  visibility: hidden;
}

.create .upload::before {
  content: "Fichier";
  display: inline-block;
  background: #c5decd;
  border: 2px inset #424651;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  color: #32373b;
  padding: 2px 8px;
  white-space: nowrap;
  cursor: pointer;
}

.create .upload:hover::before {
  border-color: #d16f2e;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-container .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-container .name-container .namePhoto {
  margin-right: 20px;
  color: #c5decd;
}

.item-container .categorie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-container .categorie-container .categoriename {
  margin-right: 20px;
  color: #c5decd;
}

.item-container #active {
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  color: #d16f2e;
}

.item-container .connect-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d16f2e;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  margin-top: 10px;
  margin-right: 20px;
}

.item-container .connect-button:hover {
  color: #c5decd;
  background-color: black;
}

.image {
  width: 90%;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
}

.lecture ul {
  padding: 0;
  margin: 0;
}

.scrollup {
  z-index: 5;
  position: fixed;
  bottom: 40px;
  -webkit-transform: translate(20px);
          transform: translate(20px);
  width: 40px;
  height: 40px;
  fill: #d16f2e;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  background-color: rgba(0, 0, 0, 0.8);
}

.scrollup .icon {
  width: 40px;
  height: 40px;
  color: #d16f2e;
  -webkit-animation: scrollTop 05s alternate ease infinite;
          animation: scrollTop 05s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.contenu-change {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 25rem;
  margin-top: 4rem;
  padding: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  text-align: center;
}

.contenu-change form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenu-change a {
  text-decoration: none;
}

.contenu-change span:hover {
  color: #d16f2e;
}

.contenu-change label {
  color: #c5decd;
}

#email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#email :focus {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d16f2e;
}

#email :hover {
  border-color: #d16f2e;
}

#password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#password :focus {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d16f2e;
}

#password :hover {
  border-color: #d16f2e;
}

#password-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#password-confirm :focus {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d16f2e;
}

#password-confirm :focus :hover {
  border-color: #d16f2e;
}

#email label {
  padding: 0;
  margin-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#email input {
  color: #32373b;
  background: #c5decd;
  border-radius: 40px;
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#password label {
  padding: 0;
  margin-right: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#password input {
  color: #32373b;
  background: #c5decd;
  border-radius: 40px;
  height: 30px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#password-confirm label {
  padding: 0;
  margin-right: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#password-confirm input {
  width: 300px;
  background: #c5decd;
  border-radius: 40px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.connect-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d16f2e;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 6px #424651;
          box-shadow: 0 2px 6px #424651;
  margin-top: 20px;
}

.connect-button:hover {
  color: #c5decd;
  background-color: black;
}

#cancel {
  margin-right: 20px;
}

#cancel a {
  color: #d16f2e;
}

#cancel a:hover {
  color: #c5decd;
}

@media screen and (max-width: 1100px) {
  .contenu-auth {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .contenu-change {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image {
    width: 40% !important;
    margin-bottom: 1rem;
  }
  .create {
    margin-bottom: 1rem;
  }
  .name-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categorie-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connect-button {
    margin-right: 30% !important;
    margin-left: 30% !important;
  }
  .form {
    display: -ms-grid !important;
    display: grid !important;
  }
  h4 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-right: 0;
  }
  .lecture {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */